## encoding: utf-8
<%inherit file="./templates/master.html"/>

<%def name="title()">Colophon</%def>
<%def name="cls()">nav-default</%def>

<h1>About the TSA Timeline Website</h1>

<p>The TSA Timeline website is powered by the <a href="http://www.web-core.org/">WebCore</a> web application development framework, <a href="http://www.python.org/">Python</a>, a high-level general purpose scripting language, and <a href="http://www.mongodb.org/">MongoDB</a> object database.</p>

<p>Portions of the code are copyright their respective authors and distributed under various licenses.  For more information, please see the specific project websites and respective dependant packages.</p>

<p class="tc">Developed by <a href="http://www.gothcandy.com/">Alice Bevan-McGregor</a></p>

<p class="tc">TSA Timeline Copyright © 2010 Alice Bevan-McGregor<br>WebCore Copyright © 2009-2010 Alice Bevan-McGregor, Alex Grönholm, and Contributors<br>Python Copyright © 1990-2010 Python Software Foundation</p>