## encoding: utf-8
<%inherit file="./templates/master.html"/>\
<%namespace file="./templates/common.html" import="render"/>\
<%! from model import Story %>
\
<%def name="title()">Latest Articles</%def>\
<%def name="cls()">nav-default</%def>\
\

<menu class="buttons footer" id="asset-footer"><!-- style="margin-top: 10px;" -->
<h1>${title()}</h1>
<div class="fr">
% if page > 1:
<li><a href="/?pp=${pp}&amp;p=${page-1}">Newer Stories</a></li>
% endif
% if (len(Story.objects(visible=True)) - pp * (page - 1)) > pp:
<li><a href="/?pp=${pp}&amp;p=${page+1}">Older Stories</a></li>
% endif
</div>
</menu>



<dl class="tsa">
% for story in Story.objects(visible=True)[(page-1)*pp:page*pp]:
    <dt><a href="${story.url}">${story.title}</a></dt>
%   if story.feed:
    <dd class="meta">
        From <a href="${story.feed.site}" title="">${story.feed.title}</a>
        ${render(story.date, prefix="on ")}.</dd>
%   endif
    <dd class="desc">${story.description|n}</dd>
% endfor
</dl>

<menu class="buttons footer" id="asset-footer"><!-- style="margin-top: 10px;" -->
% if (len(Story.objects(visible=True)) - pp * (page - 1)) > pp:
<li><a href="/?pp=${pp}&amp;p=${page+1}">❮ Older Stories ❰</a></li>\
% endif
% if page > 1:
<div class="fr"><li><a href="/?pp=${pp}&amp;p=${page-1}">❱ Newer Stories ❯</a></li></div>\
% endif
</menu>
</div>