## encoding: utf-8
<%def name="title()"></%def>
<%def name="header()"></%def>
<%def name="cls()"></%def>
<%def name="js()"></%def>
<!doctype html>
<html lang="en" class="no-js">
    <head>
        <meta charset="utf-8">
        
        <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
        
        <title>${self.title()} - TSA Timeline</title>
        
        <meta name="viewport" content="width=980px;">
        
        <link rel="shortcut icon" href="/favicon.ico">
        
        <link rel="stylesheet" href="/css/master.css?v=1">
        
        <script src="/js/modernizr-1.5.min.js"></script>
        
        ${self.header()}
    </head>

<!--[if lt IE 7 ]> <body class="ie6 ${self.cls()}"> <![endif]-->
<!--[if IE 7 ]>    <body class="ie7 ${self.cls()}"> <![endif]-->
<!--[if IE 8 ]>    <body class="ie8 ${self.cls()}"> <![endif]-->
<!--[if IE 9 ]>    <body class="ie9 ${self.cls()}"> <![endif]-->
<!--[if gt IE 9]>  <body class="${self.cls()}">     <![endif]-->
<!--[if !IE]><!-->
    <body class="${self.cls()}">
<!--<![endif]-->

        <header id="top">
            <hgroup class="container">
                <h1>TSA Timeline</h1>
                <p>RSS feed aggregation for an aggravating time.</p>
                
                <div style="position: absolute; right: 0; top: 5px;">
                    <script src="http://widgets.twimg.com/j/2/widget.js"></script>
                    <script>
                    new TWTR.Widget({
                      version: 2,
                      type: 'search',
                      search: 'TSA',
                      interval: 6000,
                      title: '',
                      subject: '',
                      width: 350,
                      height: 135,
                      theme: {
                        shell: {
                          background: '#8ec1da',
                          color: '#ffffff'
                        },
                        tweets: {
                          background: '#ffffff',
                          color: '#444444',
                          links: '#1985b5'
                        }
                      },
                      features: {
                        scrollbar: true,
                        loop: false,
                        live: true,
                        hashtags: true,
                        timestamp: true,
                        avatars: false,
                        toptweets: true,
                        behavior: 'default'
                      }
                    }).render().start();
                    </script>
                </div>
##              <div class="special search">
##                  <form method="get" action="/search"><input type="search" autocomplete="on" name="q" placeholder="Site-wide search."></form>
##              </div>
            </hgroup>
        </header>
        
        <section id="navigation">
            <div class="container">
                <menu>
                    <li class="nav-default"><a href="/">Home<br><label> </label></a></li
                    ><li class="nav-twitter"><a href="/twitter">Twitter<br><label>Live Twitter stream.</label></a></li
                    ><li class="nav-feeds"><a href="/feeds">Feeds<br><label>Source feeds.</label></a></li
                    ><li class="nav-stats"><a href="/stats">Stats<br><label>Site statistics.</label></a></li>
                    <!--  
                                        ><li class="nav-download"><a href="/download">Download<br><label>Downloading and Installing</label></a></li
                                        ><li class="nav-docs"><a href="/docs">Documentation<br><label>Manual and Tutorials</label></a></li
                                        ><li class="nav-community"><a href="/community">Community<br><label>Support and Discussion</label></a></li
                                        ><li class="nav-wiki"><a href="/wiki/">Wiki<br><label>Free-for-All</label></a></li> -->
                    <div class="seo" style="right: 360px;">
                        <a href="http://www.twitter.com/GothAlice/"><img src="/img/icons/twitter_32.png"></a>
                    </div>
                </menu>
            </div>
        </section>
        
        <section id="main">
            <div class="container">
                <div class="indent">
${next.body()}
                    
                    <div class="clearfix"></div>
                </div>
            </div>
        </section>
        
        <footer>
            <div class="container">
                <p class="fr">© 2009–2010 Alice Bevan-McGregor</p>
                
                <menu>
                    <li><a href="/about">Colophon</a></li><li><a href="/privacy">Privacy Policy</a></li></menu>
                    
                    <script type="text/javascript">
                        var _gaq = _gaq || [];
                        _gaq.push(['_setAccount', 'UA-19394035-2']);
                        _gaq.push(['_trackPageview']);
                        (function() {
                        var ga = document.createElement('script');
                        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                        ga.setAttribute('async', 'true');
                        document.documentElement.firstChild.appendChild(ga);
                        })();
                    </script>
                </menu>
                
##                <div>
##% if web.auth.anonymous:
##                    <a href="/users/action:authenticate" id="authenticate">Sign In</a>
##% else:
##                    <a href="/users/action:expire" id="deauthenticate">Sign Out</a>
##% endif
                </div>
            </div>
        </footer>
        
        <!-- Grab Google CDN's jQuery. fall back to local if necessary -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
        <script>!window.jQuery && document.write('<script src="/js/jquery-1.4.2.min.js"><\/script>')</script>
        
        <script src="/js/plugins.js?v=1"></script>
        <script src="/js/master.js?v=1"></script>
        
        <!--[if lt IE 7 ]>
            <script src="/js/dd_belatedpng.js?v=1"></script>
        <![endif]-->
${self.js()}
    </body>
</html>